$greenlight-color: rgb(17, 166, 0);
// $greenlight-background-color: rgba(17, 166, 0, 0.05);
$greenlight-background-color: #f6fcf5;

$redlight-color: rgb(191, 0, 22);
$redlight-background-color: #fcf2f3;

$yellowlight-color: rgb(232, 183, 12);
// $yellowlight-background-color: rgba(241, 206, 80, .06);
$yellowlight-background-color: #faf8ed;
