.category-menu {
  box-sizing: border-box;
  background-color: #fff;
  border-right: 1px solid #E2E5E5;
}

.category-menu-title-stack-item {
  width: 100%;
}

.category-menu-title-stack-item-container {
  display: block;
  width: 100%;
}

.category-menu-title {
  box-sizing: border-box;
  padding: .5rem 1rem;
  width: 100%;
  height: 62px;
  background-color: #edeeee;

  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8E9494;

  border: 1px solid #e3e4e4;
  border-left: none;
  border-right: none;
}

.category-menu-title-button:hover {
  cursor: pointer;
  background-color: #e3e4e4;
}

[class*='wnd-Stack'].category-menu-item-content {
  box-sizing: border-box;
  min-height: 55px;
  max-height: 80px;
  border-bottom: 1px dotted #e3e4e4;
  justify-content: space-between;
  padding: 0 10px 0 16px;
  color: #464E4E;
  font-size: 14px;

  &.empty:hover {
    background-color: white;
  }

  &:hover {
    background-color: #fafbfb;
  }

  &.active-menu-item {
    color: #007e8a;
    font-weight: 600;
    box-shadow: inset 4px 0 0 0 #007e8a;
    background-color: #f7ffff;
  }
}

div[class*='wnd-StackItem'].category-menu-items {
  margin-top: 0;
  width: 100%;
}

.category-menu-item-content-container {
  width: 100%;
}

.category-menu-item-content-base {
  height: 100%;
  display: flex;
  align-items: center;
}

.category-menu-item-right-side {
  height: 100%;
}

.category-menu-item-right-side-stack {
  height: 100%;

  > [class*='wnd-StackItem'] {
    @extend .category-menu-item-content-base;
  }
}

.category-menu-item-label {
  width: 100%;
}

.category-menu-item-label,
.category-menu-item-icon {
  @extend .category-menu-item-content-base;
  cursor: pointer;

  &.empty {
    cursor: default;
  }
}

.minified-metrics {
  padding: 0;
  max-width: 50px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 8px);
  grid-template-rows: auto;
  grid-gap: 4px;
  position: relative;

  .metric {
    border: 1px solid #edeeee;
  }
}
