.gaugeStack {
  width: 100%;
}

.gaugeStackItem {
  width: 100%;
}

.Gauge {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 5px;

  &-gauge {
    width: 100%;
    display: flex;
    border-radius: 3px;
    overflow: hidden;
  }

  &-legend {
    margin-top: 1rem;

    &-item {
      display: inline-flex;
      margin-right: 1.5rem;

      &-dot {
        content: "";
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-top: 3px;
        margin-right: 4px;
      }
    }
  }
}
