.metricStack {
  width: 100%;
  min-width: 175px;
  max-width: 298px;
  margin: 0px 10px auto;
}

.metric {
  width: 97%;
  margin: 8px 0px auto;
  text-align: center;

  &.title {
    box-shadow: 0 1px 1px #ccc;
    border: 1px solid #ddd;
    font: 400 13px/19px "Open Sans", sans-serif;
    padding: 5px;
    text-align: center;
    
    &:hover {
      cursor: pointer;
    }
  }

  &.selectedStack {
    height: 20px;
    font-weight: 600;
    box-shadow: none;
    background-color: #edeeee;

    > .title-content {
      width: 100%;
      &:after {
        margin-left: 5px;
        font-size: 10px;
        text-decoration: underline;
        content: "Close";
        color: rgb(0, 121, 191);;
      }  
    }
  }

  &.minified {
    width: 10px;
    height: 10px;

    > .metric-chart {
      > .value {
        width: 10px;
        height: 10px;
        border: none;
        background-color: #11a600;
      }
      [class*="yellowLight"] {
        background-color: #f1cf50;
      }

      [class*="redLight"] {
        background-color: #bf0016;
      }

      &.blank {
        height: 10px;
        width: 10px;
        background-color: #797878;
      }
    }
  }

  &.maximized {

    > .metric-chart {
      height: 135px;
      margin: 0 5px auto;
      width: 100%;
      border: 1px solid #ddd;
      max-width: 100%;
      max-height: 100%;
      background-color: white;

      &.selected {
        background-color: #edeeee;

        > .name {
          font-weight: 600;

          &:after {
            margin-left: 5px;
            font-size: 10px;
            text-decoration: underline;
            content: "Close";
            color: rgb(0, 121, 191);;
          }
        }
      }
  
      > .icon {
        color: #797878;
        padding-top: 18px;
      }

      > .name {
        display: block;
        font-size: 13px;
        color: #797878;
        text-align: center;
        white-space: normal;
        margin: 1em 0 0.5em 0;
      }

      > .value {
        font-size: 42px;
        line-height: 1em;
      }

      > .compareTo {
        display: inline-block;
        text-align: center;
        font-size: 12px;
        width: fit-content;
        margin: 11px auto 0;
        padding: 5px;
        border-radius: 3px;

        &:before {
          height: 11px;
          width: 11px;
          margin-right: 6px;
          border: none;
          position: relative;
        }
      }

      > .increase {
        &:before {
          content: "\2197";
        }
      }

      > .decrease {
        &:before {
          content: "\2198";
        }
      }

      > .noChange {
        color: #797878;
        background-color: #f4f0f0;

        &:before {
          content: "\2194";
        }
      }

      > .good {
        color: #11a600;
        background-color: #f2fcf3;
      }

      > .bad {
        color: #bf0016;
        background-color: #fcf2f3;
      }
    }
  }
}

.redLight {
  color: #bf0016;
}

.yellowLight {
  color: #f1cf50;
}

.greenLight {
  color: #11a600;
}
