.detail-container {
  width: 100%;
  height: 100%;

  >.detail-filter {
    width: 100%;
    height: 100%;
    max-width: 12%;
    min-height: 945px;
    padding: 0px 5px 0px 5px;
    background-color: white;
    border-right: 1px solid #d5d7d7;
    overflow-y: auto;
  }

  >.detail-content {
    // margin-top: 5px;
    width: 100%;
    height: 100%;
    overflow-y: auto;  
    padding: 0 4px;
    overflow-x: hidden;

    >.detail-kpis {
      // overflow: scroll;
      padding-bottom: 10px;
      width: 100%;
      margin-left: -4px;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      >.detail-kpis-stack {
        flex-wrap: wrap;
      }
    }

    >.detail-main {
      width: 100%;
      height: 100%;
      border-top: 1px transparent #d5d7d7;
    }

  }
}

.detail-grid {
  [class*="wnd-GridItem"] {
    margin-left: 0px;
  }

  .chart-container {
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07), 0px 3px 3px rgba(0, 39, 41, 0.03), 0px 5px 23px rgba(0, 45, 47, 0.03);

    [class*="component--loaded"] {
      background-color: transparent;
    }

    > .chart-title {
      font-size: 13px;
      font-weight: 400;
      box-sizing: border-box;
      padding: 8px 16px;

      > .chart-subtitle {
        color: #8e9494;
        font-size: 12px;
        padding-top: 2px;
      }
    }

    .detail-chart {
      box-sizing: border-box;
      padding: 16px;
    
      &.small {
        height: 250px;
      }

      &.medium {
        height: 380px;
      }

      &.large {
        height: 500px;
      }

      & > [class*="Chart"] {
        height: 100%;
        width: 100%;
      }
    }
  }
}
