.detail-grid {
  [class*="wnd-Grid"] {
    margin-left: 5px;
  }

  [class*="wnd-GridItem"] {
    margin-left: 0px;
  }

  .chart-container {
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07), 0px 3px 3px rgba(0, 39, 41, 0.03), 0px 5px 23px rgba(0, 45, 47, 0.03);

    [class*="component--loaded"] {
      background-color: transparent;
    }

    > .chart-title {
      font-size: 13px;
      font-weight: 400;
      box-sizing: border-box;
      padding: 8px 16px;

      > .chart-subtitle {
        color: #8e9494;
        font-size: 12px;
        padding-top: 2px;
      }
    }

    .detail-chart {
      box-sizing: border-box;
      padding: 16px;
    
      &.small {
        height: 200px;
      }

      &.medium {
        height: 380px;
      }

      &.large {
        height: 500px;
      }

      & > [class*="Chart"] {
        height: 100%;
        width: 100%;
      }
    }
  }
}
