* {
  box-sizing: border-box;
}

.sessionStack {
  width: 100%;
}

.sessionStackItem {
  width: 100%;
}

.sessionSectionBase {
  &.blank {
    display: none;
  }

  @include metricChartBasic;

  .chart-container {
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: #fff;
    // border-radius: 2px;

    [class*="component--loaded"] {
      background-color: transparent;
    }

    > .chart-title {
      font-size: 12px;
      font-weight: 600;
      box-sizing: border-box;
      padding: 16px 0px 6px 0px;
      text-transform: uppercase;
      color: rgb(70, 78, 78);

      > .chart-subtitle {
        color: #8e9494;
        font-size: 12px;
        padding-top: 2px;
      }
    }

    .session-detail-grid-item {
      padding-bottom: 4px;
      font-size: 12px;
    }

    .session-detail-label {
      font-weight: 600;
    }

    .session-detail-divider {
      font-weight: 600;
      margin-right: 2px;
    }

    .session-detail-value {
      margin-left: 2px;
      font-weight: 400;
    }

    .detail-chart {
      height: 380px;
      box-sizing: border-box;
      padding: 16px;

      &.small {
        width: 50%;
        height: 100px;
        padding: 0px;
      }

      &.large {
        height: 500px;
      }

      & > [class*="Chart"] {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.session-kpi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 8px;
  width: 100%;
}
