@import '../../components/board/styles';
@import '../../components/event-stream/styles';

// ==============================================================
// Mande General Styles
// ==============================================================
[class*='billboard-metric'] {
  font-size: 42px;
  color: #2a3434;
  display: block;
  text-align: center;
}

[class*='billboard-name'] {
  font-size: 14px;
  text-align: center;
}

[class*='billboard-element__inner'] {
  padding: 0;

  & > div {
    display: flex;
    flex-direction: column;
  }
}

[class*='billboard-relative'] {
  order: 3;
  text-align: center;
  font-size: 12px;
  width: min-content;
  margin: 6px auto 0;
  padding: 7px 5px 8px;
  border-radius: 3px;

  &:before {
    height: 11px;
    width: 11px;
    margin-right: 6px;
    border: none;
    position: relative;
  }
}

[class*='billboard-relative--increase'] {
  color: #bf0016;
  background-color: #fcf2f3;

  &:before {
    top: 2px;
    background-image: url('../assets/icon-arrow-red.svg');
  }
}

[class*='billboard-relative--decrease'] {
  color: #11a600;
  background-color: #f2fcf3;

  &:before {
    background-image: url('../assets/icon-arrow-green.svg');
  }
}

[class*='billboard-name'] {
  order: 1;
}

[class*='billboard-metric'] {
  order: 2;
  margin: 4px 0;
}

.kpiCharts {
  display: flex;
  width: 100%;
  height: 135px;

  [class*='component--loaded'] {
    background-color: transparent;
  }
}

.primarySectionChartContainer {
  width: 100%;
  margin-bottom: 8px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07),
    0px 3px 3px rgba(0, 39, 41, 0.03), 0px 5px 23px rgba(0, 45, 47, 0.03);

  [class*='component--loaded'] {
    background-color: transparent;
  }
}

.detailsPanel {
  position: relative;

  .emptyState {
    display: none;
    flex-direction: column;
  }

  &.emptyStateActive {
    padding: 16px;

    .primarySectionChartHeader,
    .facetFilterContainer {
      display: none;
    }

    div.emptyState {
      display: flex;
      height: 500px;

      & > [class*='StackItem'] {
        margin-top: 0;
      }
    }
  }

  .emptyStateHeader {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #464e4e;
    text-transform: none;
  }

  .emptyStateDescription {
    font-size: 12px;
    color: #8e9494;
    line-height: 16px;
    max-width: 80%;
    text-align: center;
  }

  .bar-chart-placeholder {
    margin-bottom: 16px;
  }

  &.isEmpty {
    .primarySectionChartHeader {
      display: flex;
    }

    .emptyState {
      display: flex;
      border: 3px dashed #e3e4e4;
      box-sizing: border-box;
      border-radius: 5px;
      min-height: 339px;
      justify-content: center;
      align-items: center;
    }
  }
}

.detailPanelBody {
  padding: 0;

  .isEmpty & {
    padding: 16px;
  }
}

.primarySectionChart {
  height: 400px;
  box-sizing: border-box;
  padding: 16px;

  & > [class*='Chart'] {
    height: 100%;
  }
}

.primarySectionChartHeader {
  box-sizing: border-box;
  padding: 8px 16px;
}

.primarySectionChartaltHeader {
  display: flex;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #edeeee;

  .detailsPanel & {
    height: auto;
    align-items: baseline;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
  }
}

.primarySectionChartHeaderDescription {
  font-size: 12px;
  color: #8e9494;
  margin: 8px 0 4px;
  line-height: 17px;
}

.billboardChart {
  flex-grow: 1;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.075);

  & > [class*='wnd-Chart'] {
    height: 135px;
    margin: 0 auto;
    width: 100%;
  }

  &:last-child:not(.billboardChart-selected) {
    box-shadow: none;
  }

  &:hover {
    background-color: #fafbfb;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #f4f5f5;
  }

  &:active {
    transform: translateY(1px);
  }
}

.billboardChart-selected {
  background-color: #f2fafc;
  box-shadow: 0 0 0 1px #0079bf52;
  color: #0079bf;
  position: relative;
  z-index: 10;

  &:hover {
    background-color: #f2fafc;
    box-shadow: 0 0 0 1px #0079bf52;
  }

  [class*='billboard-metric'] {
    font-size: 42px;
    color: #0079bf;
    display: block;
    text-align: center;
  }

  [class*='billboard-name'] {
    color: #0079bf;
    font-size: 14px;
    text-align: center;
  }

  [class*='billboard-relative--increase'] {
    color: #bf0016;
    background-color: #fcf2f3;
    border: 1px solid rgba(191, 0, 22, 0.25);

    &:before {
      top: 2px;
      background-image: url('../assets/icon-arrow-red.svg');
    }
  }

  [class*='billboard-relative--decrease'] {
    color: #11a600;
    background-color: #f2fcf3;
    border: 1px solid rgba(17, 166, 0, 0.4);

    &:before {
      background-image: url('../assets/icon-arrow-green.svg');
    }
  }
}

.sectionTitle {
  color: #464e4e;
  font-size: 16px;
  font-weight: 600;
}

.sectionSubtitle {
  color: #8e9494;
  font-size: 12px;
}

.barList {
  [class$='type-heading-2'] {
    display: flex;
    align-items: center;
    height: 48px;
    box-sizing: border-box;
    padding: 16px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #edeeee;
    color: #464e4e;
  }
}

.barList [class*='wnd-Chart'] {
  width: 100%;
  height: 432px;
  box-sizing: border-box;
  padding: 16px;
}

.barList [class$='bar-item'],
.barList [class*='bar-item'].selected {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fafbfb;
  margin-bottom: 8px;
  border-radius: 3px;
  transition: 0.075s all ease-in-out;

  &:hover {
    background-color: #f4f5f5;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }

  &.selected {
    background-color: #edeeee;
  }
}

[class$='bar-item-info-label'] {
  padding-top: 0;
  padding-left: 0;
}

.facetFilter {
  position: relative;
  z-index: 100;
}

h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #464e4e;
  text-transform: none;
}

.sessionSectionBase {
  margin-bottom: 8px;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07),
    0px 3px 3px rgba(0, 39, 41, 0.03), 0px 5px 23px rgba(0, 45, 47, 0.03);
}

.eventStreamSectionBase {
  min-height: 520px;
}

.headerFacetFilter {
  display: none;
}

.homepage-chart-grid-item {
  grid-column: auto / span 6;
  padding: 16px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.025),
    inset 0 0 0 1px rgba(0, 0, 0, 0.085);
}

.options-bar-parent > [class*='StackItem'] {
  width: 100%;
}

[class*='wnd-StackItem'] div.options-bar {
  justify-content: space-between;
  margin-bottom: 24px;
  box-sizing: border-box;
  padding: 0 16px 0;
  background-color: #edeeee;
  border-top: 1px solid #e3e4e4;
  border-bottom: 1px solid #e3e4e4;

  & > [class*='StackItem'] {
    padding: 4px 0 4px;
  }
}
