@import '../shared/scss/variables.scss';
@import '../shared/scss/mixins.scss';
@import '../shared/scss/layout-base.scss';
@import '../shared/scss/empty-view.scss';
@import "../shared/components/metric/styles.scss";
@import "../shared/components/modal/styles.scss";
@import "../shared/components/popup/styles.scss";
@import "./components/category-menu/style.scss";
@import "./components/action-sidebar/style.scss";
@import "./components/dashboard/styles.scss";
@import "./components/category-detail/styles.scss";

// ==============================================================
// Mande Common and Nerdlet Styles
// ==============================================================

.options-bar-parent {
  height: 62px;

  > [class*="StackItem"] {
    width: 100%;
    height: 100%;
  }
}

[class*="wnd-StackItem"] div.options-bar {
  padding: 0 16px 0;
  background-color: #edeeee;
  border-top: 1px solid #e3e4e4;
  border-bottom: 1px solid #e3e4e4;
  height: 100%;

  :not(:first-child) {
    margin-left: 1.5rem;
  }

  & > [class*="StackItem"] {
    padding: 8px 0;
  }
}

.options-bar-label {
  padding-top: .25rem;
  text-transform: uppercase;
  color: #8e94a3;
}

.container {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

.primary-content-grid {
  height: 100%;
}

.main-panel {
  height: 100%;
  > [class*="StackItem"] {
    width: 100%;
    height: 100%;
  }
}
