.qosContainer {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  .containerFilter {
    position: sticky;
    top: 10;
    z-index: 10;
    height: 30px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    z-index: 1001;
    .buttonGroup {
      width: 25%;
    }
    .filterSet {
      width: 90%;
    }
  }
  .chartContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    .chart {
      margin-top: 20px;
      height: 300px;
      width: 24%;
      h2 {
        font-size: 1.5em;
        font-weight: 600;
      }
    }
    .doubleHeight {
      height: 600px !important;
    }
    .doubleWide {
      width: 50% !important;
    }
    .threeQuartersWide {
      width: 74% !important;
    }
  }
  .facetFilterContainer {
    overflow: wrap;

    .facetGroup {
      flex-wrap: wrap;
      margin-bottom: 10px;
      button {
        margin: 5px;
      }
    }
  }
}

.facetFilterContainer {
  padding: 8px 16px;
  background-color: #fafbfb;
  border-bottom: 1px solid #edeeee;
}

.facetFilter__control {
  border-color: #d5d7d7;
}

.facetFilter__multi-value {
  background-color: #d0f0ff;
  flex-shrink: 0;
}

.facetFilter__multi-value__label {
  color: #003555;
}

.facetFilter__multi-value__remove {
  margin-left: 3px;
  border-radius: 0;
  border-left: 1px solid rgba(0, 121, 191, 0.11);

  &:hover {
    background-color: rgb(182, 226, 247);
    cursor: pointer;

    svg {
      color: #003555;
    }
  }

  svg {
    color: #003455b7;
  }
}

// .facetFilter__value-container {
//   overflow: scroll;
//   flex-wrap: nowrap;
// }

.facetFilter__indicators {
  position: relative;

  &:before {
    content: '';
    width: 40px;
    height: 20px;
    position: absolute;
    left: -40px;
    z-index: 100;
    pointer-events: none;
    background-image: linear-gradient(to right, transparent, white);
  }
}

.facetFilter__clear-indicator,
.facetFilter__indicator-separator {
  display: none;
}

.facetFilter__control--is-focused {
  border-color: #007e8a;
  box-shadow: 0 0 0 1px #007e8a;

  &:hover {
    border-color: #007e8a;
    box-shadow: 0 0 0 1px #007e8a;
  }
}

.facetFilter__option--is-focused {
  background-color: #007e8a18;
}

.facetFilter__option--is-selected {
  background-color: #007e8a;

  &:hover {
    background-color: #007e8a;
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.emptyState {
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: 3px dashed #e3e4e4;
  text-align: center;
  border-radius: 8px;
}

.emptyStateHeader {
  margin-bottom: 4px;
  color: #464e4e;
  font-size: 24px;
  font-weight: 600;
}

.emptyStateDescription {
  max-width: 420px;
  margin: 0 auto;
  color: #8e9494;
  line-height: 20px;
}

.timelineEmptyState {
  min-height: 170px;
}

.eventStreamEmptyState {
  min-height: 500px;
}

.eventStreamEmptyState:before {
  content: '';
  width: 288.5px;
  height: 345px;
  margin: 0 auto;
  background-image: url(../assets/event-stream-placeholder.png);
  background-size: 100%;
}

.barList [class$='bar-item'],
.barList [class*='bar-item'].selected {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fafbfb;
  margin-bottom: 8px;
  border-radius: 3px;
  transition: 0.075s all ease-in-out;

  &:hover {
    background-color: #f4f5f5;
    transform: translateY(-1px);
  }

  [class*='item-progress'] {
    background-color: #edeeee;
  }
}

.barList [class*='bar-item'].selected [class*='item-progress'] {
  background-color: #d5d7d7;
}

.detailsPanelGridItem {
  width: 100%;
}

.facetFilterLabel {
  font-size: 13px;
}

div.optionsBar {
  background-color: #edeeee;
  margin-bottom: 16px;
  box-shadow: inset 0 0 0 1px #e3e4e4;
  box-sizing: border-box;

  & > [class*='StackItem'] {
    padding: 8px 4px 8px;
  }
}

div.optionsBar .mainPageButtonStackItem {
  padding: 4px 4px 4px;
  border-right: 1px solid #e3e4e4;
}

.sessionColumn .barList {
  height: calc(100% - 50px);
}
