// @import '~@datanerd/nr-ui-legacy/dist/styles.css';
// @import '~@datanerd/nr-ui/css/styles.css';
// @import '~@datanerd/vizco/dist/vizco.css';
// @import '~@datanerd/nr-filter/src/styles.scss';
// @import "~react-vis/dist/style";
.qosContainer {
  margin: 10px;
  width: 100%;
  height: 100vh;
  .containerFilter {
    position: sticky;
    top: 10;
    z-index: 10;
    height: 30px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    z-index: 1001;
    .buttonGroup {
      width: 25%;
    }
    .filterSet {
      width: 90%;
    }
  }
  .chartContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    .chart {
      margin-top: 20px;
      height: 300px;
      width: 24%;
      h2 {
        font-size: 1.5em;
        font-weight: 600;
      }
    }
    .doubleHeight {
      height: 600px !important;
    }
    .doubleWide {
      width: 50% !important;
    }
    .threeQuartersWide {
      width: 74% !important;
    }
  }
  .facetFilterContainer {
    overflow: wrap;
    .facetGroup {
      flex-wrap: wrap;
      margin-bottom: 10px;
      button {
        margin: 5px;
      }
    }
  }
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
