@import '../../components/session-list/styles';

.qosContainer {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  .containerFilter {
    position: sticky;
    top: 10;
    z-index: 10;
    height: 30px;
    display: flex;
    margin-bottom: 10px;
    flex-direction: row;
    z-index: 1001;
    .buttonGroup {
      width: 25%;
    }
    .filterSet {
      width: 90%;
    }
  }
  .chartContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    .chart {
      margin-top: 20px;
      height: 300px;
      width: 24%;
      h2 {
        font-size: 1.5em;
        font-weight: 600;
      }
    }
    .doubleHeight {
      height: 600px !important;
    }
    .doubleWide {
      width: 50% !important;
    }
    .threeQuartersWide {
      width: 74% !important;
    }
  }
  .facetFilterContainer {
    overflow: wrap;
    .facetGroup {
      flex-wrap: wrap;
      margin-bottom: 10px;
      button {
        margin: 5px;
      }
    }
  }
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.emptyState {
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  border: 3px dashed #e3e4e4;
  text-align: center;
  border-radius: 8px;
}

.emptyStateHeader {
  margin-bottom: 4px;
  color: #464e4e;
  font-size: 24px;
  font-weight: 600;
}

.emptyStateDescription {
  max-width: 420px;
  margin: 0 auto;
  color: #8e9494;
  line-height: 20px;
}

.timelineEmptyState {
  min-height: 170px;
}

.eventStreamEmptyState {
  min-height: 500px;
}

.eventStreamEmptyState:before {
  content: '';
  width: 288.5px;
  height: 345px;
  margin: 0 auto;
  background-image: url(../assets/event-stream-placeholder.png);
  background-size: 100%;
}

.barList [class$='bar-item'],
.barList [class*='bar-item'].selected {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background-color: #fafbfb;
  margin-bottom: 8px;
  border-radius: 3px;
  transition: 0.075s all ease-in-out;

  &:hover {
    background-color: #f4f5f5;
    transform: translateY(-1px);
  }

  [class*='item-progress'] {
    background-color: #edeeee;
  }
}

.barList [class*='bar-item'].selected [class*='item-progress'] {
  background-color: #d5d7d7;
}
