.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background: rgba(0, 0, 0, 0.5);
}

.modal-window {
  display: flex;
  width: 600px;
  max-width: 90%;
  height: 400px;
  max-height: 90%;
  position: fixed;
  z-index: 1001;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);

  &.closed {
    display: none;
  }

  .close-button {
    position: absolute;
    z-index: 1;
    top: -24px;
    right: -24px;
    border: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .modal-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    margin: 20px;
  }
}

@keyframes zoom-in-modal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.zoom-in-modal {
  animation: .9s ease-in-out both zoom-in-modal;
}

@keyframes zoom-out-modal {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.zoom-out-modal {
  animation: .3s zoom-out-modal;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  font-size: 16px;
  vertical-align: middle;
}