@import '../../components/board/styles';

.temporary-dummy-class-to-ensure-timeline-container-isnt-too-wide {
    max-width: 700px;;
    margin: 0 auto;
    background-color: #fff;
    padding: 32px;
}

// ==============================================================
// Meande General Styles
// ==============================================================

[class*="billboard-metric"] {
    font-size: 42px;
    color: #2A3434;
    display: block;
    text-align: center;

}
[class*="billboard-name"] {
    font-size: 14px;
    text-align: center;
}

[class*="billboard-element__inner"] {
    padding: 0;

    & > div {
        display: flex;
        flex-direction: column;
    }
}

[class*="billboard-relative"] {
    order: 3;
    text-align: center;
    font-size: 12px;
    width: min-content;
    margin: 6px auto 0;
    padding: 7px 5px 8px;
    border-radius: 3px;

    &:before {
        height: 11px;
        width: 11px;
        margin-right: 6px;
        border: none;
        position: relative;
    }
}

[class*="billboard-relative--increase"] {
    color: #BF0016;
    background-color: #FCF2F3;

    &:before {
        top: 2px;
        background-image: url("../assets/icon-arrow-red.svg");
    }
}

[class*="billboard-relative--decrease"] {
    color: #11A600;
    background-color: #F2FCF3;

    &:before {
        background-image: url("../assets/icon-arrow-green.svg");
    }
}

[class*="billboard-name"] {
    order: 1;
}

[class*="billboard-metric"] {
    order: 2;
    margin: 4px 0;
}

.kpiCharts {
    display: flex;
    width: 100%;
    height: 135px;

    [class*="component--loaded"] {
        background-color: transparent;
    }
}

.primarySectionChartContainer {
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    box-shadow:
        0px 1px 0px rgba(0, 63, 66, 0.07),
        0px 3px 3px rgba(0, 39, 41, 0.03),
        0px 5px 23px rgba(0, 45, 47, 0.03);

    [class*="component--loaded"] {
        background-color: transparent;
    }
}

.primarySectionChart {
    box-sizing: border-box;
    padding: 16px;
}

.primarySectionChartHeader {
    box-sizing: border-box;
    padding: 8px 16px;

    &.altHeader {
        display: flex;
        height: 48px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #edeeee;
    }
}

.billboardChart {
    flex-grow: 1;
    box-shadow: inset -1px 0 0 rgba(0,0,0, .075);

    & > [class*="wnd-Chart"] {
        height: 135px;
        margin: 0 auto;
    }

    &:last-child {
        box-shadow: none;
    }
}

.sectionTitle {
    color: #464E4E;
    font-size: 16px;
    font-weight: 600;
}

.sectionSubtitle {
    color: #8E9494;
    font-size: 12px;
}

// ==============================================================
// Event Stream Styles
// ==============================================================

.timeline-container {
    background-color: #fff;
}

.timeline-item {
    display: flex;
    margin-bottom: 12px;

    &:hover .timeline-item-dot:after {
        background-color: #464e4e;
    }

    &:hover .timeline-timestamp-date {
        color: #000d0d;
    }

    &:hover .timeline-timestamp-time {
        color: #464e4e;
    }

    &:first-child .timeline-item-dot:before {
        top: 0;
    }

    &:last-child {
        margin-bottom: 0;

        .timeline-item-dot:before {
            bottom: 0;
        }
    }
}

.timeline-item-expanded .timeline-item-contents-container {
    display: block;
    border-top: 1px solid #e3e4e4;
}

.timeline-item-symbol:after {
    background-color: #E4FFE3;
}

.timeline-item-type-ad-request .timeline-item-symbol:after,
.timeline-item-type-ad-start .timeline-item-symbol:after,
.timeline-item-type-ad-quartile .timeline-item-symbol:after,
.timeline-item-type-ad-end .timeline-item-symbol:after {
    background-color: #EDFFFF;
}

.timeline-item-type-content_request .timeline-item-symbol:after,
.timeline-item-type-download .timeline-item-symbol:after,
.timeline-item-type-content_start .timeline-item-symbol:after,
.timeline-item-type-content_pause .timeline-item-symbol:after,
.timeline-item-type-content_end .timeline-item-symbol:after {
    background-color: #FFF4D1;
}

.timeline-item-type-content_error .timeline-item-symbol:after {
    background-color: #FCF2F3;
}

.timeline-item-type-CONTENT_BUFFER_START .timeline-item-symbol:after,
.timeline-item-type-CONTENT_BUFFER_END .timeline-item-symbol:after {
    background-color: #FCF2F3;
}

.timeline-item-type-general .timeline-item-symbol:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #11A600;
    border-radius: 100%;
    position: relative;
    z-index: 10;
}

.timeline-timestamp-date {
    display: block;
    font-size: 14px;
    color: #464E4E;
    margin-bottom: 1px;
}

.timeline-item-timestamp {
    text-align: right;
    min-width: 75px;
    color: #8E9494;
    font-size: 12px;
}

.timeline-item-dot {
    padding: 0 25px 0 14px;
    position: relative;

    &:after {
        width: 7px;
        height: 7px;
        background-color: #b9bdbd;
        border-radius: 100%;
        box-shadow: 0 0 0 3px #fff;
        position: absolute;
        content: "";
        display: block;
        top: 17px;
    }

    &:before {
        content: "";
        display: block;
        width: 1px;
        background-color: #d5d7d7;
        position: absolute;
        left: 17px;
        top: -16px;
        bottom: -16px;
    }
}


.timeline-item-contents-container {
    display: none;
    box-shadow: inset 0 10px 3px -5px rgba(0,0,0, .005), inset 0 2px 0 rgba(0,0,0, .03);
    background-color: #fafbfb;
    border-radius: 0 0 3px 3px;
}

.timeline-item-contents-item {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #edeeee;
    padding: 0 8px;

    .key {
        margin-right: 8px;
        font-weight: 600;
        color: #464e4e;
    }

    .value {
        text-align: right;
        color: #464e4e;
        overflow-wrap: anywhere;
        max-width: 80%;
        padding: 8px 0;
    }

    &:last-child {
        border-bottom: none;
    }

    &:hover {
        background-color: #f4f5f5;
        cursor: default;
    }
  }

.timeline-item-body {
    width: 100%;
    border: 1px solid #d5d7d7;
    border-radius: 3px;
    height: 38px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 2px 0 rgba(0,0,0, .02);
    transition: .05s all ease-in-out;

    &:hover {
        cursor: pointer;
        transform: translateY(-1px);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02), 0 4px 6px 0px rgba(0, 0, 0, 0.05);
        border-color: #b9bdbd;
    }

    &:hover:before {
        border-right: 7px solid #b9bdbd;
    }

    &:active {
        cursor: pointer;
        transform: translateY(1px);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.02);
    }
}

.timeline-item-body-header {
    display: flex;
    height: 38px;
}

.timeline-item-title {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 14px;
    color: #464E4E;
}

.timeline-item-symbol {
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px dotted #b9bdbd;

    &:after {
        content: "";
        display: block;
        width: 23px;
        height: 23px;
        background-color: rgba(0,0,0, .1);
        border-radius: 5px;
        position: absolute;
        z-index: 0;
    }
}

.timeline-item-symbol-icon {
    position: relative;
    z-index: 10;
}

.timeline-item-body:after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid #fff;
    top: 13px;
    left:  -7px;
}


.timeline-item-body::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 7px solid #c4c4c4;
    top: 13px;
    left: -8px;
}

.timeline-item-expanded .timeline-item-body {
    height: auto;
}