.metric.minified {
  width: 8px;
  height: 8px;
  box-sizing: border-box;

  .metric-chart {
    color: #222222;
    cursor: pointer;

    &:hover {
      transform: translateY(-1px);

      + .metric-tooltip {
        visibility: visible;
        opacity: 1;
        transition: 0.25s opacity ease;
        transition-delay: 0.5s;
        z-index: 10;

        .metric-chart {
          max-width: 11rem;
        }
      }
    }

    > .value {
      width: 10px;
      height: 10px;
      border: none;
      background-color: $greenlight-color;

      &.yellowLight {
        background-color: $yellowlight-color;
      }

      &.redLight {
        background-color: $redlight-color;
      }
    }
  }
}

.metric-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 20px;
  right: -15px;
  width: 100%;

  >.metric {
    >.metric-chart {
      border: 1.5px solid #e3e4e4;
      height: 90px;
    }
  }
}

.metric {
  &.maximized {
    width: 100%;
    height: 100%;
    min-height: 6rem;
    max-height: 22rem;
    min-width: 10rem;
    box-sizing: border-box;

    .metric-chart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: auto;
      height: 100%;
      padding: 0.75rem;
      border-radius: 2px;
      border: none;
      position: relative;
      background-color: white;
      border-radius: 2px;
      box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07), 0px 3px 3px rgba(0, 39, 41, 0.03),
        0px 5px 23px rgba(0, 45, 47, 0.03);
      transition: all 0.075s ease-out;
      transform: translateY(2px);

      &.redLight {
        background-color: $redlight-background-color;
      }

      &.yellowLight {
        background-color: $yellowlight-background-color;
      }

      &.greenLight {
        background-color: $greenlight-background-color;
      }

      // only when metric has a click handler
      &:not(.no-click) {
        cursor: pointer;
        &:hover {
          background-color: #fafbfb;
          transform: translateY(0);
          box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.1), 0px 3px 4px rgba(0, 39, 41, 0.09),
            0px 5px 23px rgba(0, 45, 47, 0.09);
        }
        &:active {
          transform: translateY(3px);
          box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07), 0px 3px 3px rgba(0, 39, 41, 0.03),
            0px 5px 23px rgba(0, 45, 47, 0.03);
        }
      }

      &.selected {
        box-shadow: 0px 1px 0px rgba(0, 63, 66, 0.07), 0px 3px 3px rgba(0, 39, 41, 0.03),
          0px 5px 23px rgba(0, 45, 47, 0.03), inset 0 0 0 1px #007e8a, inset 0 0 0 4px rgba(#007e8a, 0.1);
        border-radius: 4px;
      }

      .name {
        display: block;
        font-size: 0.75rem;
        color: #464e4e;
        text-align: left;
        white-space: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        min-height: 1.5rem;
        padding: .5rem 0;
      }

      .value-container {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        margin-top: -.75rem;

        .value {
          position: relative;
          margin-right: 8px;
          font-size: 35px;
          padding-top: 0.2em;
          padding-bottom: 0.2em;
          text-align: left;
          font-weight: 600;
          line-height: 3rem;

          &.extralarge {
            font-size: 55px;
          }

          &.large {
            font-size: 35px;
          }

          &.medium {
            font-size: 25px;
          }

          &.small {
            font-size: 20px;
          }

          &.redLight {
            color: $redlight-color;
          }

          &.yellowLight {
            color: $yellowlight-color;
          }

          &.greenLight {
            color: $greenlight-color;
          }
        }
      }

      .compareTo {
        display: inline-block;
        text-align: center;
        font-size: 11px;
        width: 100%;
        padding: 5px 2.5px;
        border-radius: 3px;

        &:before {
          height: 11px;
          width: 11px;
          margin-right: 6px;
          border: none;
          position: relative;
        }

        &.increase {
          &:before {
            content: "\2197";
          }
        }

        &.decrease {
          &:before {
            content: "\2198";
          }
        }

        &.noChange {
          color: #797878;
          background-color: #f4f0f0;

          &:before {
            content: "\2194";
          }
        }

        &.good {
          color: #11a600;
          background-color: #f2fcf3;
        }

        &.bad {
          color: #bf0016;
          background-color: #fcf2f3;
        }
      }
    }
  }
}

.metric [class*="wnd-Chart"].spark-line-chart {
  pointer-events: none;
  width: 100%;
  margin-top: -5px;
  height: 30px;

  [class*="vz--component"] {
    background-color: transparent;
  }
  
  [class*="component--no-data"] {
    visibility: hidden;
  }


  svg {
    height: 30px;
    margin: 0;
    min-height: auto;
  }
}
