@mixin pointer {
  &:hover {
    cursor: pointer;
  }
}

.filter-stack {
  width: 100%;
  margin-bottom: 5px;

  &.active {
  }

  &.inactive {
    color: #797878;
  }
}

.filter-title {
  color: #000e0e;
  margin-top: 15px;
  font-size: 13px;
  font-weight: 400;
  box-sizing: border-box;
  border-bottom: 1px solid #d5d7d7;
}

.filter-category {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000e0e;
  background-color: #edeeee;
  padding: 5px;
}

.filter-attribute {
  margin-top: 5px;
  width: 100%;
  font-size: 11px;

  > .filter-attribute-empty {
    color: #9e9d9d;
  }

  .is-checked {
    background-color: #797878;
  }

  > .filter-attribute-titlebar {

    > .filter-attribute-title {
      display: inline-block;
      width: 90%;

      > .filter-attribute-title-name {
        display: inline-block;
        font-size: 12px;
        @include pointer;
      }

      > .filter-attribute-title-facet {
        display: inline-block;
        padding-left: 10px;
        font-size: 10px;

        > .filter-attribute-facet-checkbox {
          margin-right: 3px;

          > [class*="Checkbox-input"] {
            margin-top: 1px;
            width: 10px;
            height: 10px;
          }
        }
      }
    }

    > .filter-attribute-toggle {
      @include pointer;
    }

    &.expand {
      color: rgb(18, 123, 189);
      font-weight: 600;
      margin-bottom: 2px;

      .filter-attribute-title-facet {
        color: #797878;
      }
    }

  }

  > .filter-attribute-item {
    > .filter-attribute-value {
      display: inline-block;
      width: 90%;
      margin-left: 5px;

      &.checked {
        font-weight: 600;
        color: #000e0e;
      }

      &.active {
        color: #797878;
        width: auto;

        &:after {
          content: "X";
          color: #000e0e;
          padding-left: 5px;
        }
      }
    }

    > .filter-attribute-checkbox {
      margin-top: 3px;
      vertical-align: top;

      > .filter-attribute-checkbox-input {
        > [class*="Checkbox-input"] {
          margin-top: 1px;
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

.divider {
  padding: 0px 2px;
}
