@import './common.scss';
@import './components/search-bar/styles.scss';
@import './components/session/styles.scss';

.find-user-container {
  height: 100%;
}

.empty-state-container {
  height: 100%;
  @include defaultContainer;

  >.empty-state {
    height: 100%;
    width: 100%;
    margin: 0;
  }
}